<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879678268228-p17bi2c96v380smnsl6iha5i7ln6v2dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879678268228-p17bi2c96v380smnsl6iha5i7ln6v2dt</string>
	<key>API_KEY</key>
	<string>AIzaSyCOGJHka2NAGqnmu7w0dld_rbFAGtN_r1A</string>
	<key>GCM_SENDER_ID</key>
	<string>879678268228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firetwice</string>
	<key>PROJECT_ID</key>
	<string>firetwice</string>
	<key>STORAGE_BUCKET</key>
	<string>firetwice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879678268228:ios:422927b1988649db2b6d11</string>
</dict>
</plist>